<nav>
  <div class="logo">
    <img src="assets/icons/opensea-logo.svg" alt="logo" />OpenSea
  </div>
  <div class="input btn-clr">
    <img src="assets/icons/search-icon-white.svg" alt="search" />
    <input type="text" placeholder="  Search items, collections, and accounts" />
  </div>
  <div class="nav-main">
    <div class="links">
      <ul>
        <li><a href="">Explore</a></li>
        <li><a href="">Stats</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">Create</a></li>
      </ul>
    </div>
    <div class="profile-section">
      <div class="profile">
        <img src="assets/icons/profile.png" alt="Profile" />
      </div>
      <div class="walet">
        <img src="assets/icons/wallet.png" alt="wallet" />
      </div>
    </div>
  </div>
</nav>
