<div class="info-bar" id="top">
  <div class="header">
    <div class="title">Testimonial</div>
  </div>
  <div class="slider">
    <div class="left-btn">
      <button (click)="scrollRight()" class="btn btn-light">
        <img src="assets/icons/left.png" alt="" />
      </button>
    </div>

    <div id="scroll" class="scroll">
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/15.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet</div>
        <div class="job">Developer</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/16.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Developer</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/17.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">QA</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/18.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Management</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/19.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Developer</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/20.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Design</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/21.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Devops</div>
      </div>
      <div class="team-member-card">
        <div class="image">
          <img src="assets/background/22.jpg" alt="" />
        </div>
        <div class="name">Lorem ipsum dolor sit amet consectetur</div>
        <div class="job">Project Manager</div>
      </div>
    </div>

    <div class="right-btn">
      <button (click)="scrollLeft()" class="btn btn-light">
        <img src="assets/icons/right.png" alt="" />
      </button>
    </div>
  </div>

  <div class="navigation">
    <div class="button"></div>
  </div>
</div>
