.info-bar {
  padding: 0px;
  margin-top: 1.5em;
  margin-bottom: 20em;

  .header {
    margin: 0px;
    padding: 1em 3em;
    background: #ffffff;

    .title {
      padding: 0.2em 0em;
      font-size: 4em;
      font-weight: 600;
      color: #636478;
    }

    .desc {
      font-size: 1.5em;
    }
  }

  .scroll {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    height: 80vh;
    color: rgb(58, 54, 54);
    // background: rgb(48, 47, 47);
    text-align: left;
    transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .team-member-card {
    padding: 4em 5em;
    cursor: pointer;
    border-radius: 30px;
    // box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 25%), inset -8px -8px 12px 0 rgb(0 0 0 / 25%), inset 8px 8px 12px 0 rgb(255 255 255 / 40%);
    box-shadow: 8px 8px 16px 0 rgb(144 144 144 / 25%),
      inset -8px -8px 12px 0 rgb(170 170 170 / 25%),
      inset 8px 8px 12px 0 rgb(255 255 255 / 40%);
    transition: ease-in-out all 0.3s;
    place-items: center;
    padding: 0 0 1em 0;
    margin: 2em;
    border: none;
    height: 72vh;

    .image {
      width: 34em;
      height: 85%;
      overflow: hidden;
      transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .selected-img {
      // filter: grayscale(0%);
    }
    .name {
      font-size: 1.4em;
      font-weight: 500;
      line-height: 24px;
      margin-top: 1em;
      text-align: center;
    }
    .job {
      display: none;
    }
  }
  .team-member-card:hover {
    box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 25%),
      inset -8px -8px 12px 0 rgb(0 0 0 / 25%),
      inset 8px 8px 12px 0 rgb(255 255 255 / 40%);
    transition: ease-in-out all 0.3s;
    img {
      overflow: hidden;
      transform: scale(1.04);
      transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  .content {
    padding: 1.5em 20em 0em 20em;

    .content-box {
      padding: 1em 12em 0em 1em;
    }
    .content-desc {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 2;
      text-align: justify;
    }
  }
}

::ng-deep .content-img {
  height: 30em;
  width: 73vw;
  padding: 2em 0em;
}
.slider {
  display: flex;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, #f9fbfc, #f8fafc, #f6fafd, #f4f9fd, #f2f9fe, #f1f8fe, #eff8ff);
 
  .left-btn {
    position: absolute;
    top: 38%;
    left: 2%;
    z-index: 2;
    button {
        width: 6em !important;
        height: 6em !important;
        border-radius: 50%;
    }
  }
  .right-btn {
    position: absolute;
    top: 38%;
    right: 1%;
    z-index: 2;
    button {
        width: 6em !important;
        height: 6em !important;
        border-radius: 50%;
    }

  }
}
.scroll {
  button {
    width: 4em !important;
    height: 4em !important;
    border-radius: 50%;
    border: 1px solid #566062 !important;
    margin: 1em !important;
    background: white !important;
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .info-bar {
    .content {
      padding: 2em !important;

      .content-box {
        padding: 2em !important;
      }
    }
    .team-member-card {
      img {
        max-height: 26em;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .team-member-card {
    padding: 2em 2em !important;
  }
  .info-bar {
    .header {
      padding: 4em 3em !important;
    }
    .content {
      padding: 1.5em 10em 0em 10em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .team-member-card {
    padding: 2em 2em !important;
  }
}
