<div class="container">
  <div class="row background-image">
    <div class="col-md-6">
      <div class="text-container">
        <h1 class="title mb-5">
          Discover, collect, and sell extraordinary NFTs
        </h1>
        <h3 class="sub-title mb-5">
          OpenSea is the world's first and largest NFT marketplace
        </h3>
        <div class="btn-container">
          <button class="btn-clr">Explore</button>
          <button class="btn-white">Create</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-container">
        <div class="image-container">
          <a href="">
            <div class="image-section">
              <img src="assets/image/aurora.jpg" alt="Alaska sky" />
            </div>
            <div class="image-footer btn-clr">
              <div class="profile">
                <img src="assets/image/sunglass.jpg" alt="logo" />
              </div>
              <div class="name-container">
                <span class="dark">Dance with a sky</span>
                <span class="blue">Aurora sky in alaska</span>
              </div>
              <div class="info">
                <button>
                  <img src="assets/icons/info.png" alt="info">
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-cards></app-cards>
  <app-image-card></app-image-card>
</div>